body{
    background-color: black;
}
.animation {
    color: beige;
    font-family:"press start 2p","san-serif","consolas","courier","serif";
    font-size: 40px;
    margin-top: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: beige;
    font-family: "chakra petch","san-serif","consolas","courier","serif";
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: beige;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.intro {
    color: beige;
    font-family: "chakra petch","san-serif","consolas","courier","serif";
    font-size: 28px;
    font-weight:lighter;
}
.socials-link {
    color: beige;
    font-family: "chakra petch","san-serif","consolas","courier","serif";
    font-size: 22px;
    font-weight: bold;
}
.about-me {
    color: beige;
    font-family: "chakra petch","san-serif","consolas","courier","serif";
    font-size: 22px;
    font-weight: bold;
}
p{
    color: beige;
    font-family: "Fira Sans Condensed", "sans-serif";
}
button{
    background-color: black;
    color: beige;
    border-radius: 10px;
    border-color: beige; 
    padding: 5px;
    font-size: 15px;
    font-family: "chakra petch","san-serif","consolas","courier","serif";
}